@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './variables.scss';

@font-face {
  font-family: 'Montserrat';
  src: url(/fonts/MontserratAlt1-Regular.woff) format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Unbounded';
  src: url(/fonts/Unbounded-Bold.woff2) format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Unbounded';
  src: url(/fonts/Unbounded-Medium.woff2) format('woff2');
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'Unbounded';
  src: url(/fonts/MontserratAlt1-Regular.woff) format('woff');
  font-weight: 400;
  font-display: block;
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**** Custom Scrollbar Design ****/
::-webkit-scrollbar {
  width: 5px; /* width of vertical scrollbar */
  height: 5px; /* height of horizontal scrollbar */
}

// Track
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/**** END OF Custom Scrollbar Design ****/

.page_title {
  font-family: 'Unbounded';
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.page_header {
  font-family: 'Unbounded';
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(239, 239, 245);

  @media (prefers-color-scheme: dark) {
    border: 1px solid rgba(255, 255, 255, 0.09);
  }

  &.center {
    justify-content: center;
  }
}

.page_container {
  width: 70vw;
  max-width: 1000px;
  min-width: 500px;
  margin: 0 auto;
  padding: 0 !important;
}

.step_container {
  width: 100%;
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;

  .action_button {
    display: flex;
    margin-left: auto;
    margin-top: 0.5rem;
    text-align: end;
    font-weight: 700;
    width: 100px;
  }
}

.text-bold {
  font-weight: 700;
}

.text-semi-bold {
  font-weight: 600;
}

.text-italic {
  font-style: italic;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-gray {
  color: #5f5f5f;

  @media (prefers-color-scheme: dark) {
    color: #d5d6d7;
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.font-size-2rem {
  font-size: 2rem !important;
}

.font-size-1rem {
  font-size: 1rem;
}

.font-size-075 {
  font-size: 0.75rem;
}

.font-size-085 {
  font-size: 0.85rem;
}

flex-1 {
  flex: 1;
}

.input-item {
  display: flex;
  align-items: center;

  .title {
    width: 100px;
    min-width: 100px;
  }
}
.table-pagination {
  margin-left: auto;
  margin-bottom: 5vh;
}

// .full-page {
//   min-height: calc(100vh - 50px);
// }

.n-data-table-empty {
  padding: 1rem !important;
}

.pointer-cursor {
  cursor: pointer;
}

.n-collapse-item--active {
  .n-collapse-item__header {
    .n-collapse-item__header-main {
      font-weight: bold !important;
    }
  }
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.25s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.n-layout-scroll-container {
  display: flex;
  flex-direction: column;
}

.code {
  &__card {
    position: relative;
  }

  &__icon {
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    background: transparent;

    &.copy {
      color: rgb(136, 147, 151);

      &:hover {
        background: #eaeaea;
      }
    }

    &.completed {
      color: white;
      background: green;
      @media (prefers-color-scheme: dark) {
        background: #63e2b7;
        color: black;
      }
    }
  }
}

.page-container {
  height: 100vh;
}

.content-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
