@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import './variables.scss';

@font-face {
  font-family: 'Montserrat';
  src: url(assets/fonts/MontserratAlt1-Regular.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: #cfd2d1;
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**** Custom Scrollbar Design ****/
::-webkit-scrollbar {
  width: 5px; /* width of vertical scrollbar */
  height: 5px; /* height of horizontal scrollbar */
}

// Track
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/**** END OF Custom Scrollbar Design ****/

.page_title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.page_header {
  color: white;
  padding: 0 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.dark {
    background: black;
  }

  &.center {
    justify-content: center;
  }
}

.page_container {
  max-width: 70vw;
  margin: 0 auto;
  padding: 0 !important;
}

.step_container {
  width: 100%;
  padding: 0 2rem 1.5rem 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .action_button {
    display: flex;
    margin-left: auto;
    margin-top: 0.5rem;
    text-align: end;
    font-weight: 700;
    width: 100px;
  }
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-gray {
  color: #5f5f5f;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.font-size-1rem {
  font-size: 1rem;
}

.font-size-075 {
  font-size: 0.75rem;
}

.font-size-085 {
  font-size: 0.85rem;
}

flex-1 {
  flex: 1;
}
